{% load static %}
<!doctype html>
<html lang="de">
<link rel="stylesheet" href="{% static 'general_settings.css' %}">
<link rel="stylesheet" href="{% static 'login.css' %}">
<link rel="stylesheet" href="{% static 'header.css' %}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>DHBW Gesundheitsakte</title>

</head>

        {% if messages %}
<div class="messages">
	{% for message in messages %}
	<p class="message {{ message.tags }}">{{ message }}</p>
	{% endfor %}
</div>
{% endif %}

<!-- if you'd like the messages to disappear after a little bit, add the following javascript. Requires JQuery -->
<script>
$('.message').hide().fadeIn(500).delay(2000).fadeOut(500);
</script>

    <body>
        <header>



{% if user.is_authenticated %}
            <div class="Header_text">
                <nav>
                    <ul>
                        <li><a href="/">Home</a> </li>
                        <li><a href="/crshare">Freigabe erstellen</a> </li>
                        <li><a href="/myshare">Meine Freigaben</a> </li>
                        <li><a href="/shshare">Geteilte Freigabe </a> </li>
                        <li><a href="/info">Info</a> </li>
                        <li><a href="/settings">Einstellungen</a> </li>
                        <li><a href="/signout">Logout</a> </li>

                    </ul>
                </nav>
                <h1>Meine Freigaben</h1>
{% csrf_token %}
<table class="table mb-0">
    <thead>
      <tr>
            <th width=200>Dateiname</th>
            <th width=200>Dokumentbesitzer</th>
            <th width=200>Freigeben</th>
            <th width=200>Download</th>
            <th width=200>Löschen</th>

      </tr>
    </thead>
    <tbody>
    <button type="submit">Datei hochladen </button>
    <br></br>
     {% for document in documents %}

     <tr>
          <td>
          <p><a >{{ document.0 }}</a></p>
          <td>{{ user.first_name }}{{ user.last_name }}</td>


          <td>

              <button type="submit" class="">Freigeben</button>

          </td>

          <td>

              <button type="submit"><a href={{ document.1 }}>Download</a>></button>

          </td>
          <td>

              <button type="submit" class="">Löschen</button>

          </td>
        </tr>















     {% endfor %}
    </tbody>
  </table>

{% else %}

                <div class="Header_text">
                <nav>
                    <ul>
                        <li><a href="/">Home</a> </li>
                        <li><a href="/login">Login</a> </li>
                        <li><a href="/register">Registrierung</a> </li>
                        <li><a href="/info">Info</a> </li>
                    </ul>
                </nav>
                <h1>Willkommen zur DHBW Gesundheitsakte</h1>
                <p class="subheading">Sie können sich <b> <i>"sicher"</i></b> sein, dass Ihre Daten bei uns <b> <i>"sicher"</i></b> sind.(Zwinker-Smiley) </p>
            </div>
            <div class="circle">
                <img src="{% static 'akte.png' %}">
            </div>
        </header>

{% endif %}
    </body>
</html>