header{
    padding:100px 25px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
    flex-wrap:wrap;
}
.header_text{
    width: 850px;
}
.circle{
    height:300px;
    width:300px;
    max-height:80vw;
    max-width:80vw;
    overflow:hidden;
    border-radius:50%;
    border:20px solid var(--main-brand-color);
    display:flex;
    justify-content:center;
    align-items:center;
}
.circle img{
    height:100%;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px
}
nav a{
    color:var(--secondary-text-color);
    text-decoration:none;
    position:relative;
    padding:3px;
}
nav a:hover{
    color:var(--text-color);
}
nav a::after{
    content:'';
    height:2px;
    width:0%;
    background:var(--main-brand-color);
    position:absolute;
    bottom:0;
    left:0;
    transition:150ms erase-in-out;
}
nav a:hover::after{
    width:100%;
}