<!doctype html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Autentifikation</title>
</head>
<body>
    <h3>Willkommen zur DHBW Gesundheitsakte</h3>

    <button type="submit"><a href="/register"/> Registrierung</a></button>
    <button type="submit"><a href="/login"/> Login</a></button>
    <button type="submit"><a href="/logout"/> Logout</a></button>

</body>
</html>