<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>


<h3>Registrierung </h3>
    <form action="/register" method="post">
         {% csrf_token %}
        <label for="">Benutzername</label>
        <input type="text" id="username" name="username" placeholder="Geben Sie Ihren Benutzername ein" required>
        <br>
        <label for="">Vorname</label>
        <input type="text" id="firstname" name="firstname" placeholder="Geben Sie Ihren Vornamen ein" required>
        <br>
        <label for="">Nachname</label>
        <input type="text" id="lastname" name="lastname" placeholder="Geben Sie Ihren Nachnamen ein" required>
        <br>
        <label for="">E-Mailadresse</label>
        <input type="email" id="email" name="email" placeholder="Geben Sie Ihren E-Mailadresse ein" required>
        <br>
        <label for="">Passwort</label>
        <input type="password" id="password" name="password" placeholder="Geben Sie Ihr Passwort ein" required>
        <br>
        <label for="">Passwort bestätigen</label>
        <input type="password" id="passwordcon" name="passwordcon" placeholder="Geben Sie Ihr Passwort erneut ein" required>
        <br>

        <button type="submit">Registrieren </button>

    </form>
</body>
</html>